<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Sign Up As A New User</h1>
    <form action="/auth/sign-up" method="post">
      <div>
        <label for="userId">Handle:</label>
        <input type="text" id="userId" name="userId" required minlength="4" maxlength="20">
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required minlength="4" maxlength="30">
      </div>
      <button type="submit">Sign Up</button>
    </form>

    <%- include('./includes/page-footer.ejs') %>

  </body>
</html>
