<!DOCTYPE html>
<html>
  <head>
    <title>Users</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>
      <%= userIds.length %>
      User<%= (!userIds.length || userIds.length > 1) ? "s" : "" %>
    </h1>
    <ul>

      <% userIds.forEach(function(userId) { %>

        <li>
          <%= userId %>

          <% if (userId === req.cookies.userId) { %>
            <b>(you)</b>
          <% } %>

        </li>

      <% }) %>

    </ul>

    <%- include('./includes/page-footer.ejs') %>

  </body>
</html>
